<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/global.css' />
  </head>
  <body class="min-h-screen bg-light dark:bg-dark-body">
    <h1 class="text-white"><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
